.error {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    width: max(10rem, 30%);
    height: auto;
  }

  h1 {
    @include h3;
    text-align: center;
  }
  p {
    @include h5;
    text-align: center;
  }
}
