.name {
  @include h5;
  font-weight: 300;
}

.active,
.inactive {
  @include h6;
  font-size: 1.2rem;
}
.active {
  color: $ready-color;
}
.inactive {
  color: $accent-color;
}
.orders {
  @include h6;
  font-size: 1.8rem;
  margin-top: 40%;
  margin-bottom: 10%;
}

.order {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  position: relative;

  &::after {
    @include listunderline;
    bottom: 0;
  }

  .name {
    @include h6;
    font-size: 1rem;
  }

  .ready,
  .notready {
    @include h6;
    font-size: 0.8rem;
  }

  .ready {
    color: $ready-color;
  }
  .notready {
    color: $accent-color;
  }
}
