.create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;

  .input {
    margin-top: 10%;
    width: 80%;
    height: 3.5rem;
    transform: translateY(-5%);
    input {
      background-color: $secondary-color;
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }

  .add {
    @include flex-center;
    border: none;
    border-radius: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0rem;
    font-size: 1.2rem;
    background-color: $accent-color;
    cursor: pointer;
  }
}

.tocreate {
  width: 100%;
  display: grid;
  padding: 0 1rem;
  gap: 0.5rem;
  margin-top: 5%;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);

  .table {
    @include flex-center;
    width: 1fr;
    gap: 0.5rem;
    p {
      @include h6;
    }
    img {
      cursor: pointer;
    }
  }
}

.submit {
  margin-top: auto;
}
