@mixin card($color) {
  @include flex-center;
  background-color: $color;
  border-radius: 0.5rem;
  padding: 1rem;
}
.income {
  @include flex-center;
  @include card($primary-color);
  @include h5;
  gap: 15%;
  grid-column: 1 / 4;
  grid-row: 1 / 3;

  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    h2,
    p {
      @include font;
      font-weight: 100;
      color: $secondary-color;
    }
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.open {
  @include card($white);
  flex-direction: column;
  grid-column: 4 / 6;
  grid-row: 1 / 3;

  p {
    @include h4;
    font-size: 2rem;
  }

  .image {
    width: 3rem;
    height: 3rem;
  }
}

.waiter {
  @include card($white);
  grid-column: 6 / 10;
  grid-row: 1 /3;
  justify-content: space-evenly;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      @include h4;
    }
    p {
      @include h5;
      font-size: 1rem;
    }
  }
}

.reservations {
  @include card($primary-color);
  grid-column: 10 / span 5;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    @include h5;
    color: $secondary-color;
  }
}

.orders {
  @include card($white);
  grid-column: 10 / span 5;
  grid-row: 4 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  p {
    @include h5;
  }

  .order {
    display: flex;
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 1rem;
    }

    .details {
      @include flex-center;
      flex-direction: column;

      p {
        font-size: 1.2rem;

        &.ready,
        &.notready {
          font-size: 0.8rem;
        }

        &.notready {
          color: $accent-color;
        }

        &.ready {
          color: $ready-color;
        }
      }
    }
  }
}
.stats {
  @include card($white);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: stretch;
  grid-column: 1 / 7;
  grid-row: 3 / 7;

  .chart {
    width: 100%;
    height: 70%;
  }

  p {
    @include h5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 25%;
    span {
      font-size: 0.8rem;
    }
  }
}

.topincome {
  @include card($primary-color);
  display: flex;
  flex-direction: column;
  grid-column: 7 / 10;
  grid-row: 3 / 6;

  * {
    color: $secondary-color;
  }

  .title {
    @include flex-center;
    @include h5;
    flex-direction: column;
  }
  h1 {
    @include h5;
    margin-top: auto;
  }
  h2 {
    @include h6;
    color: $accent-color;
  }
  .diff {
    @include h6;
    font-size: 1rem;
    margin-top: auto;
  }
}

.active_order {
  @include card($white);
  @include flex-center;
  flex-direction: column;
  grid-column: 7 / 10;
  grid-row: 6 / span 3;

  h1 {
    @include h4;
    margin-top: auto;
    color: $accent-color;
  }
  p {
    @include h6;

    &.notready {
      font-size: 1.2rem;
      margin-top: auto;
      margin-bottom: 1rem;
      color: $ready-color;
    }
  }
}

.tasks {
  @include card($white);
  display: flex;
  grid-column: 1 / 7;
  grid-row: 7 / span 2;

  h1 {
    @include h6;
    width: 20%;
    margin-right: auto;
    text-align: center;
  }

  .tasklist {
    width: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 1rem 1rem 1rem;
    grid-auto-flow: column;

    .task {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      height: 1fr;
      width: 1fr;
      font-size: 0.8rem;
    }
  }
}
